@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Micromania</h1>
<a style="margin-bottom: 1rem; margin-top: 1rem;" class="btn btn-secondary" role="button" asp-controller="Game" asp-action="Index">Voir les jeux</a>
<a class="btn btn-secondary" role="button" asp-controller="Game" asp-action="Create">Ajouter un jeu</a>
</div>